.container {
  width: 25%;
}

.calculator_container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display {
  width: 100%;
  background: #80808c;
  color: white;
  padding: 16px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.display p {
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn_numbers {
  width: 25%;
  padding: 16px 0;
  background-color: #e6e6e6de;
  border: 0.1px solid lightgray;
  font-size: 0.8rem;
}

.btn_numbers:nth-child(17) {
  width: 50%;
}

.btn_numbers:nth-child(4),
.btn_numbers:nth-child(8),
.btn_numbers:nth-child(12),
.btn_numbers:nth-child(16),
.btn_numbers:nth-child(19) {
  background-color: #ff7600d4;
}
